* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #161a1d;
    --primary-color: #7289da;
    --gray-color: #4f4f4f;
}

body {
    background-color: var(--main-color);
}

form {
    border: 2px solid rgba(255, 255, 255, 0.224);
    border-radius: 5px;
    width: 30%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1.2;
    margin-left: 60px;
    margin-top: 60px;
}

form input {
    padding: 6px;
    width: 230px;
    outline: none;
}

input[type='submit'] {
    width: 230px;
    background: var(--primary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.already {
    margin-top: 20px;
}

form p {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

.input-container p.msg {
    visibility: hidden;
    margin-bottom: 10px;
    margin-top: 5px;
}

.input-container.error p.msg {
    visibility: visible;
}

.content h1 {
    position: absolute;
    top: 45%;
    right: 38%;
    font-size: 5rem;
    color: white;
}

input-container.error input {
    border-color: red;
}

.input-container.success input {
    background-color: rgb(97, 249, 97);
}

img {
    width: 51%;
    position: absolute;
    top: 60px;
    right: 10%;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content h1 {
        top: 34%;
        right: 38%;
        font-size: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    img {
        width: 51%;
        top: 60px;
        right: 4%;
    }    
    form {
        width: 40%;
        padding: 40px;
        margin-left: 30px;
        margin-top: 70px;
    }
        .content h1 {
        top: 54%;
        right: 40%;
        font-size: 3rem;
    }
}
@media (max-width: 767px) {
    img {
        width: 70%;
        top: 15px;
        left: 15%;
    }    
    form {
        width: 70%;
        padding: 40px;
        margin: 0 auto;
        margin-top: 53%;
    }
        .content h1 {
        top: 18%;
        left: 20%;
        font-size: 3rem;
    }
}